
body { text-align: center; }

div { margin: 20px auto; color: #888; }

#boardWrapper, #sidebar {display: inline-block; *display: inline; zoom: 1; vertical-align: top}

#sidebar { width: 200px; padding-top: 60px }

